@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Tinos", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: aquamarine;
  background-image: url("./img/בית הספר.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-head {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(33, 167, 197);
  font-family: "Tinos", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  height: 400px;
  position: relative;
  
}

.head-txt {
  width: 400px;
  text-align: center;
  position: absolute;
  left: 30%;
  top: 5%;
  font-size: 34px;
  
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 20px;
  
}
#logo h4 {
  margin: 0;
  font-family: "Rubik Vinyl", sans-serif;
  font-style: normal;
  
}

.stuOld {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: row-reverse;
  top: 1%;
  right: 1%;
}
.stuOld .login {
  background-color: #5ff2ef;
  padding: 20px;
  text-align: center;
  width: 260px;
  height: 320px;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(217, 95, 183, 0.879);
}
.stuOld .login h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #f352bd;
}
.stuOld .login .log form {
  margin-bottom: 20px;
}
.stuOld .login .log form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: right;
  direction: rtl;
  outline: none;
  box-shadow: 0 4px 8px rgba(217, 95, 183, 0.879);
}
.stuOld .login .log form input ::placeholder {
  text-align: right;
  direction: rtl;
}
.stuOld .login .log form button {
  background-color: #3cc6e8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(217, 95, 183, 0.879);
}
.stuOld .login .log form button:hover {
  background-color: #d500e0;
}
.stuOld .login .singup h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #f352bd;
}
.stuOld .login .singup button#sing {
  background-color: #4ae4a2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.stuOld .login .singup button#sing:hover {
  background-color: #d500e0;
}
.stuOld .singup {
  background-color: #5ff2ef;
  width: 200px;
  height: 250px;
  display: grid;
  align-content: space-evenly;
  justify-content: center;
  border-radius: 10%;
  align-items: center;
  color: #f352bd;
  box-shadow: 0 4px 8px rgba(217, 95, 183, 0.879);
}
.stuOld .singup #log-in {
  background-color: #3cc6e8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(217, 95, 183, 0.879);
}
.stuOld .singup #log-in:hover {
  background-color: #d500e0;
}
.stuOld .singup #sing {
  background-color: #3cc6e8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(217, 95, 183, 0.879);
}
.stuOld .singup #sing:hover {
  background-color: #d500e0;
}

#admin button {
  background-color: #3cc6e8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(217, 95, 183, 0.879);
}
#admin button:hover {
  background-color: #d500e0;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.father-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.father-entry div {
  display: flex;
  border-radius: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.disable {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.disable:hover {
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
}

.imges {
  width: 300px;
  height: 250px;
  background-color: chartreuse;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.brif {
  width: 300px;
  height: 250px;
  background-color: rgb(137, 222, 233);
  color: palevioletred;
  text-align: center;
  align-items: center;
  font-size: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.entry {
  margin: 30px;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.entry:hover {
  transform: scale(1.05);
}

#img1 {
  background-image: url("https://yt3.googleusercontent.com/TE0_lGIj6gbLm-HIpKNhj-3LDJuPymh2H1BkRc3wx928GlHpE8QXmfqJkhwnJu08KImlj-z_yQ=s900-c-k-c0x00ffffff-no-rj");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  background-position: center;
}

#img2 {
  background-image: url("https://panel.sendmsg.co.il/userfiles/site37754/images/WhatsApp-Image-2022-10-01-at-22.01.25.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  background-position: center;
}

a {
  text-decoration: none;
}

.art {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  position: relative;
  right: 0;
  bottom: -5px;
  padding: 20px;
  background-color: rgba(230, 31, 31, 0.093);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  line-height: 1.6;
  color: #333;
  z-index: -2;
}

.art h1 {
  font-size: 48px;
  color: #ac58e9;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.art h1:hover {
  color: #e04000;
}

.art article {
  font-size: 24px;
  max-width: 800px;
  color: #ee429b;
}

.art h1, .art article {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(217, 95, 183, 0.879);
}


